---
layout: default
title: Challenge Media
---
<main id="main" class="site-main">

{% if page.url == "/" %}
<div class="hero inner">
    <p class="hero-text"><h3>{{ site.author.greetings }}</h3></p>
</div>        
    <p>You may have seen our work. We hope you liked it...</p>
    <p>Our motto is simple: <span style="color: #fff; font-weight: 700;">Challenge Everything</span>.</p>
    <p>Challenge ideas.</br>
    Challenge perceptions.</br>
    Challenge yourself.</p>
    <p>This site is a place for clients, employees, friends, and new acquaintances to learn more about our company. If it is online or offline and it is from Challenge Media, you will see it here.</p>
    <p><h3>Thank you for visiting.</h3></p>
{% endif%}

{% if page.url == "/" %}
<!-- Featured-->
<div id="featured-posts" class="featured-posts">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% include featuredbox.html %}
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Posts Index -->
<div class="post-feed inner">
    {% if page.url == "/" %}
    <div class="post-feed-title">Latest</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Pagination-->
{% include pagination.html %}
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
