---
layout: default
title: Our Work
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h3 class="post-title">Our Work</h3>
    </header>
    <br>
    <a href="https://www.chicagojournal.com"><h3>Chicago Journal</h3></a>
    <p>The Chicago Journal is a general interest, digital publication with a focus on the political and cultural issues relevant to the city of Chicago and the surrounding metro area.<br><br/>
    Chicago is home to Challenge Media and the Chicago Journal is our flagship site. It's where we hope to provide proof of concept for our publication model to grow.<br><br/>
    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fchicagojournal%2Fvideos%2F628494701428584%2F&show_text=false&width=560" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    <hr>
    </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main> 
